{% extends 'SGN/index.html'  %}

{% block  main %}

<div class="card-group" >
    <div class="card-item card-dark card-two">
        <span><strong>Total Estudantes Matriculados</strong></span>
        <p id="card-item-counter">{{ estudantes.count }}</p>
    </div> 
    <div class="card-item card-dark card-two">
        <span><strong>Vagas Disponiveis</strong></span>
        <p id="card-item-counter">{{ vagas }}</p>
    </div> 
</div>

<div class="table-area" >
    <div class="table-header">
        <span> Estudantes </span>
        <div class="search">
            <form action="?" method="get">               
                <input type="text" name="nome_aluno" id="filtro" value="{{ request.GET.nome_aluno }}"  placeholder="Buscar aluno">
                <button type="submit" class="btn" id="btn-search"> Buscar</button>
                <a href="{% url 'SGN:admin_estudantes_dashboard' %}" class="btn" id="btn-back">Voltar</a>
            </form>
        </div>  
        <div>
            <a href="{% url 'user_auth:registar_estudante' %}" class="nav-link  btn btn-header"> Registar Estudante</a>                  
        </div>
    </div>
    <div id="table-div">
        <table>
            <thead>
                <tr> 
                    <th>ID</th>                   
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Curso</th>
                    <th>Turma</th>
                    <th>Sexo</th>
                    <th>Endereco</th> 
                    <th>Ações</th>                    
                </tr>
            </thead>
            <tbody>                
                {% for estudante in estudantes %}
                <tr>
                    
                        <td><a href="{% url 'SGN:estudante_perfil' estudante.id %}"  style="color:#242424;"  class="table-link">{{ estudante.id }}</a></td>
                        <td><a href="{% url 'SGN:estudante_perfil' estudante.id %}"  style="color:#242424;" class="table-link">{{ estudante.nome }}</a></td>
                        <td><a href="{% url 'SGN:estudante_perfil' estudante.id %}"  style="color:#242424;" class="table-link">{{ estudante.sobrenome }}</a></td>
                        <td><a href="{% url 'SGN:estudante_perfil' estudante.id %}"  style="color:#242424;" class="table-link">{{ estudante.email }}</a></td>
                        <td>{{ estudante.telefone }} / {{ estudante.telefone2 }}</td>
                        <td>{{ estudante.curso }}</td>                                                                              
                        <td>{{ estudante.turma }}</td>
                        <td>{{ estudante.sexo }}</td>
                        <td>{{ estudante.endereco }}</td>  
                 
                    <td>
                        <div id="btn-actions">
                            <a href="{% url 'user_auth:editar_estudante' estudante.id %}" id="btn-edit" class="btn"> Editar</a>
                            <a href="{% url 'user_auth:deletar_estudante' estudante.id %}" onclick="return confirm('Deseja excluir o Estudante: {{ estudante.nome }} {{estudante.sobrenome}}?')" id="btn-del" class="btn"> Eliminar</a>
                        </div>
                    </td> 
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}